<div class="min-h-screen bg-gray-200 py-6">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="text-left">
      <h1 class="font-bold text-center text-important bg-blue-600 text-white py-2 rounded-md">Add Food</h1>
      <%= form_with model: @food, url: user_foods_path, method: :post, data: { turbo: false } do |f| %>
        <div class="mb-4">
          <%= f.label :name, "Food name",class: "block text-gray-700 font-bold mb-2" %>
          <%= f.text_field :name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>
        <div class="mb-4">
          <%= f.label :measurement_unit, class: "block text-gray-700 font-bold mb-2" %>
          <%= f.select :measurement_unit, options_for_select([['Please choose unit', 'option'],['kg', 'kg'], ['g', 'g'], ['lb', 'lb']]), {}, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>
        <div class="mb-4">
          <%= f.label :price, "Unit price",class: "block text-gray-700 font-bold mb-2" %>
          <%= f.number_field :price, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>
        <div class="mb-4">
          <%= f.label :quantity, class: "block text-gray-700 font-bold mb-2" %>
          <%= f.number_field :quantity, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>
        <div class="flex items-center justify-between">
          <%= f.submit "Add Food", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
