<!DOCTYPE html>
<html class="light">
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
   <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <script src="https://cdn.tailwindcss.com"></script>
    <%= javascript_include_tag 'nav' %>
    <%= stylesheet_link_tag "navbar", "data-turbo-track": "reload" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,400;1,700&family=Lobster&family=Playfair+Display:ital,wght@0,500;1,600&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
    extend: {
      colors: {
        // Configure your color palette here
        backgroundColor: "#f1f5f9",
        textColor: "#1f2937",
        variantColor: "#fdba74",
        mainTheme: 'black',
        darkTheme: '#06b6d4',
      },
      boxShadow: {
        "custom": '-1px 1px 20px 7px red'
      }
    },
    fontFamily: {
      important: ["Josefin Sans", "sans-serif"],
      normal: ["Josefin Sans", "sans-serif"],
    },
    fontSize: {
      important: ["1.5rem", "1.25rem"],
    },
  },
  darkMode: 'class',

      }
    </script>
  </head>
  <body class="text-textColor dark:!text-white dark:bg-black text-base bg-backgroundColor font-normal font-[400px]">
    <%= render partial: "/components/navbar" %>
    <main>
      <div>
        <%if notice%>
          <p class="notice text-xl bg-green-700 text-white text-center my-1 py-2"><%= notice %></p>
        <%end%>
        <% if alert%>
          <p class="alert text-xl bg-red-500 text-white text-center py-2 my-1"><%= alert %></p>
        <%end%>
      </div>
      <div class="py-7">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
