<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="text-textColor text-base">
  <main class="p-8">
    <% if user_signed_in? %>
    <nav>
    <div>
      <div>
      <%= link_to "Add Recipe", new_user_recipe_path(current_user), method: :post%>
<%= button_to "Log Out", destroy_user_session_path, method: :delete  %>      </div>
    </div>
  </nav>
    <%end%>
        <p class="notice bg-variantColor"><%= notice %></p>
       <p class="alert bg-red-500"><%= alert %></p>
    <%= yield %>
  </main>
  </body>
</html>
