<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://cdn.tailwindcss.com"></script>
    <%= stylesheet_link_tag "navbar", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="text-textColor text-base bg-backgroundColor">
    <%= render partial: "/components/navbar" %>
  <main>
      <div>
        <p class="notice text-xl bg-green-700 text-white text-center"><%= notice %></p>
        <p class="alert text-lg bg-red-500 text-white text-center"><%= alert %></p>
      </div>

    <%= yield %>
  </main>

  </body>
</html>
